    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
        background-color: rgb(240, 235, 235);
    }
    
    .navbar {
        background-color: rgb(41, 106, 247);
        color: white;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navbar ul {
        margin: 0 7em;
        padding: 5px 10px 10px;
    }
    
    .navbar li {
        display: inline;
        padding: 10px 10px 10px;
    }
    
    .first {
        border-right-color: rgb(255, 255, 255);
        padding-right: 15px;
        border-right-style: solid;
        border-width: 1px;
    }
    
    .user-info {
        padding: 0 5px 0;
        display: inline-flex;
        margin-right: 7em;
        font-size: 25px;
    }
    
    .login {
        margin-right: 1em;
        width: 100%;
        padding: 0 10px;
        border: 1px solid none;
        background-color: rgba(241, 241, 241, 0.534);
    }
    
    i {
        padding: 3px;
    }
    
    .fa-sort-desc {
        padding-bottom: 10px;
    }
    
    .fa-user-circle {
        padding-top: 7px;
    }
    
    .page {
        padding: 60px 120px 40px;
    }
    
    .menu {
        float: left;
        /* clear: both; */
    }
    
    .menu li {
        padding: 15px;
        margin-left: 2em;
        border-top: 1px solid #c4bdbd;
        width: 200px;
        list-style-type: none;
    }
    
    .menu li>a {
        text-decoration: none;
        color: black;
        font-size: small;
    }
    
    .active-menu {
        background-color: rgb(41, 106, 247);
    }
    
    #active-color {
        color: rgb(255, 255, 255);
    }
    
    h1 {
        display: inline-block;
        margin-left: 50px;
    }
    
    .form-data {
        background-color: white;
        border: 1px solid rgb(240, 235, 235);
        border-radius: 4px;
        max-width: 69%;
        margin: 0 0 0 300px;
        padding: 20px;
    }
    
    .form-data p {
        margin-top: 0;
    }
    
    .fm-info {
        padding: 10px 10px 20px 50px;
    }
    
    .fm-info input {
        width: 40%;
        height: 70px;
        margin: 10px;
        border-width: 0;
        border-radius: 5px;
        background-color: rgb(233, 229, 229);
        padding: 12px;
    }
    
    input:last-of-type {
        width: 84%;
    }
    
    button {
        background-color: rgb(41, 106, 247);
        width: 85%;
        padding: 30px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 7px;
        color: seashell;
        font-size: x-large;
        border-width: 0;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: rgb(41, 106, 247);
        color: white;
    }